<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="master/css::css"></div>
</head>

<body>
<div class="container-xxl bg-white p-0">

    <div class="container-fluid bg-dark px-0">
        <div class="row gx-0">
            <div th:replace="master/logo::logo"></div>

            <div class="col-lg-9">
                <div th:replace="master/header::header"></div>

                <div th:replace="master/navbar::navbar"></div>
            </div>
        </div>
    </div>

    <th:block th:fragment="content">
        <!--Nội dung trang con -->
            <div class="container mt-5">
                <h2 class="user-account">Quản lý tài khoản người dùng</h2>

                <table class="table table-bordered table-striped">
                    <thead class="table-dark">
                    <tr>
                        <th>#</th>
                        <th>Họ tên</th>
                        <th>Email</th>
                        <th>SĐT</th>
                        <th>Trạng thái</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>1</td>
                        <td>Ngô Văn A</td>
                        <td>usera@gmail.com</td>
                        <td>0901234567</td>
                        <td><span class="badge bg-success">Đang hoạt động</span></td>
                        <td><button class="btn btn-danger btn-sm">Khóa tài khoản</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Hoàng Thị B</td>
                        <td>userb@gmail.com</td>
                        <td>0988991122</td>
                        <td><span class="badge bg-danger">Đã bị khóa</span></td>
                        <td><button class="btn btn-success btn-sm">Mở khóa</button></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Trịnh Văn C</td>
                        <td>userc@gmail.com</td>
                        <td>0334567890</td>
                        <td><span class="badge bg-success">Đang hoạt động</span></td>
                        <td><button class="btn btn-danger btn-sm">Khóa tài khoản</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
    </th:block>
    <div th:replace="master/footer::footer"></div>
    <a href="home" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

</div>


</body>

</html>