<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="master/css::css"></div>
</head>

<body>
<div class="container-xxl bg-white p-0">

    <div class="container-fluid bg-dark px-0">
        <div class="row gx-0">
            <div th:replace="master/logo::logo"></div>

            <div class="col-lg-9">
                <div th:replace="master/header::header"></div>

                <div th:replace="master/navbar::navbar"></div>
            </div>
        </div>
    </div>

    <th:block th:fragment="content">
        <!--Nội dung trang con -->
        <div class="container mt-5">
            <h2 class="mb-4">Thêm Phòng Mới</h2>
            <form th:action="@{/admin/add-room}" th:object="${room}" method="post">
                <div class="form-group">
                    <label>Tên phòng</label>
                    <input type="text" th:field="*{name}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Địa điểm</label>
                    <input type="text" th:field="*{location}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Giá (VND)</label>
                    <input type="number" th:field="*{price}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Hình ảnh (link)</label>
                    <input type="text" th:field="*{image}" class="form-control">
                </div>
                <div class="form-group">
                    <label>Mô tả</label>
                    <textarea th:field="*{description}" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label>Trạng thái</label>
                    <select th:field="*{status}" class="form-control">
                        <option value="Hoạt động">Hoạt động</option>
                        <option value="Không hoạt động">Không hoạt động</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>ID Chủ Homestay</label>
                    <input type="number" th:field="*{ownerId}" class="form-control">
                </div>
                <button type="submit" class="btn btn-warning mt-3">Thêm Phòng</button>
            </form>
        </div>
    </th:block>
    <div th:replace="master/footer::footer"></div>
    <a href="home" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

</div>


</body>

</html>