<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="master/css::css"></div>
</head>

<body>
<div class="container-xxl bg-white p-0">

    <div class="container-fluid bg-dark px-0">
        <div class="row gx-0">
            <div th:replace="master/logo::logo"></div>

            <div class="col-lg-9">
                <div th:replace="master/header::header"></div>

                <div th:replace="master/navbar::navbar"></div>
            </div>
        </div>
    </div>

    <th:block th:fragment="content">
        <!--Nội dung trang con -->
        <div class="container mt-5">
            <h2>Danh sách phòng</h2>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên phòng</th>
                    <th>Loại phòng</th>
                    <th>Giá</th>
                    <th>Địa chỉ</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="room : ${roomList}">
                    <td th:text="${room.id}"></td>
                    <td th:text="${room.name}"></td>
                    <td th:text="${room.type}"></td>
                    <td th:text="${room.price} + ' VND'"></td>
                    <td th:text="${room.address}"></td>
                    <td>
                        <form th:action="@{/admin/delete-room/{id}(id=${room.id})}" method="post"
                              onsubmit="return confirm('Bạn có chắc chắn muốn xóa phòng này?');">
                            <button class="btn btn-danger btn-sm" type="submit">Xóa</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </th:block>
    <div th:replace="master/footer::footer"></div>
    <a href="home" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

</div>


</body>

</html>