<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="master-admin/css::css"></div>
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">

            <!--            START LOGO-->
            <div th:replace="master-admin/logo::logo"></div>
            <!--            END LOGO -->

            <!--            START MENU-->
            <div th:replace="master-admin/menu::menu"></div>
            <!--            END MENU-->

        </div>
    </div>
    <div id="main">

        <!--            NỘI DUNG CÁC TRANG ADMIN-->
        <th:block th:fragment="content">
            <div class="container mt-5">
                <h2 class="homestay-host-account mb-4">CHỈNH SỬA TÀI KHOẢN NGƯỜI DÙNG</h2>

                <form action="/cap-nhat-tk-user" th:object="${user}"  method="post">
                    <input type="hidden" name="id" th:value="${id}" />

                    <div class="mb-3">
                        <label for="username" class="form-label">Tên người dùng:</label>
                        <input type="text" class="form-control" id="username" name="username" th:value="${username}" required />
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" th:value="${email}" required />
                    </div>

                    <div class="mb-3">
                        <label for="phone" class="form-label">Số điện thoại:</label>
                        <input type="text" class="form-control" id="phone" name="phone" th:value="${phone}" required />
                    </div>

                    <div class="mb-3">
                        <label for="identityCard" class="form-label">Số CCCD:</label>
                        <input type="text" class="form-control" id="identityCard" name="identityCard" th:value="${identityCard}" required />
                    </div>

                    <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                </form>
            </div>

        </th:block>
    </div>
</div>
</body>

</html>