<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="master-admin/css::css"></div>
    <!--    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>-->
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">

            <!--            START LOGO-->
            <div th:replace="master-admin/logo::logo"></div>
            <!--            END LOGO -->

            <!--            START MENU-->
            <div th:replace="master-admin/menu::menu"></div>
            <!--            END MENU-->

        </div>
    </div>
    <div id="main">


        <th:block th:fragment="content">
            <!--            NỘI DUNG CÁC TRANG ADMIN-->
            <div class="page-heading">
                <h3>Danh sách Hóa Đơn</h3>
            </div>

            <div class="page-content">
                <section class="section">
                    <div class="card">
                        <div class="card-header">
                            <h4>Thông tin các hóa đơn</h4>
                        </div>
                        <div class="card-body">
                            <table class="table table-striped" id="table1">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Tổng Tiền</th>
                                    <th>Phí Admin</th>
                                    <th>Tiền Host</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày thanh toán</th>
                                    <th>Phương thức thanh toán</th>
                                    <th>Hành động</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="payment : ${payments}">
                                    <td th:text="${payment.id}"></td>
                                    <td th:text="${payment.username}"></td>
                                    <td th:text="${#numbers.formatDecimal(payment.totalAmount, 1, 'COMMA', 2, 'POINT')} + ' đ'"></td>
                                    <td th:text="${#numbers.formatDecimal(payment.adminFee, 1, 'COMMA', 2, 'POINT')} + ' đ'"></td>
                                    <td th:text="${#numbers.formatDecimal(payment.hostAmount, 1, 'COMMA', 2, 'POINT')} + ' đ'"></td>
                                    <td th:text="${payment.paymentStatus}"></td>
                                    <td th:text="${#temporals.format(payment.paymentDate, 'dd/MM/yyyy HH:mm')}"></td>
                                    <td th:text="${payment.paymentMethod}"></td>
                                    <td>
                                        <a th:href="@{/quan-li-phi-dich-vu/{id}(id=${payment.id})}"  class="btn btn-primary btn-sm">Xem chi tiết</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </section>
            </div>
        </th:block>
    </div>
</div>
</body>

</html>
