<!DOCTYPE html>
<html lang="en">

<head>
    <div th:replace="master-admin/css::css"></div>
</head>

<body>
<div id="app">
    <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">

            <!--            START LOGO-->
            <div th:replace="master-admin/logo::logo"></div>
            <!--            END LOGO -->

            <!--            START MENU-->
            <div th:replace="master-admin/menu::menu"></div>
            <!--            END MENU-->

        </div>
    </div>
    <div id="main">

        <!--            NỘI DUNG CÁC TRANG ADMIN-->
        <th:block th:fragment="content">
            <div class="container mt-5">
                <h2 class="homestay-host-account mb-4">DANH SÁCH TÀI KHOẢN CHỦ HOMESTAY</h2>

                <table class="table table-bordered table-hover align-middle text-center">
                    <thead class="table-dark">
                    <tr>
                        <th>Tên người dùng</th>
                        <th>Email</th>
                        <th>Số điện thoại</th>
                        <th>Số căn cước công dân</th>
                        <th>Hành động</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="owner : ${ownerList}">
                        <td th:text="${owner.username}">Tên</td>
                        <td th:text="${owner.email}">Email</td>
                        <td th:text="${owner.phone}">Số điện thoại</td>
                        <td th:text="${owner.identityCard}">Số CCCD</td>
                        <td>
                            <a th:href="@{/chinh-sua-user/{id}(id=${owner.id})}">Chỉnh sửa</a> |
                            <a th:href="@{/xoa-user/{id}(id=${owner.id})}"
                               onclick="return confirm('Bạn có chắc chắn muốn xóa người dùng này không?');">
                                Xóa
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </th:block>
    </div>
</div>
</body>

</html>