<div th:fragment="banner">
<div class="main-banner">
  <div class="owl-carousel owl-banner">
    <div class="item item-1">
      <div class="header-text">
        <span class="category">Đà Nẵng, <em>Việt Nam</em></span>
        <h2>Nhanh tay!<br>Sở hữu biệt thự nghỉ dưỡng lý tưởng</h2>
      </div>
    </div>
    <div class="item item-2">
      <div class="header-text">
        <span class="category">Đà Lạt, <em>Việt Nam</em></span>
        <h2>Không chần chừ!<br>Biệt thự cao cấp đang chờ bạn</h2>
      </div>
    </div>
    <div class="item item-3">
      <div class="header-text">
        <span class="category">Phú Quốc, <em>Việt Nam</em></span>
        <h2>Chớ bỏ lỡ!<br>Sở hữu căn hộ cao cấp sát biển</h2>
      </div>
    </div>
  </div>
</div>
</div>