<!-- Header nhỏ -->
<div th:fragment="header">
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="info">
            <li><i class="fa fa-envelope"></i> info@ut.edu.vn</li>
            <li><i class="fa fa-map"></i>Hoàng Sa, Trường Sa là của Việt Nam</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="social-links">
            <li><a th:href="@{#}"><i class="fab fa-facebook"></i></a></li>
            <li><a th:href="@{#}"><i class="fab fa-linkedin"></i></a></li>
            <li><a th:href="@{#}"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 text-right">
          <div class="auth-links">
            <button type="button" class="btn btn-outline-primary btn-sm" onclick="window.location.href='/login'">
              <i class="fa fa-sign-in-alt"></i> Đăng nhập
            </button>
            <span class="auth-divider mx-2">|</span>
            <button type="button" class="btn btn-outline-primary btn-sm" onclick="window.location.href='/register'">
              <i class="fa fa-user-plus"></i> Đăng ký
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header lớn -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a th:href="@{/master}" class="logo">
              <h1>Homestay</h1>
            </a>
            <!-- ***** Logo End ***** -->

            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li><a th:href="@{#}" class="active">Trang chủ</a></li>
              <li><a th:href="@{/properties}">Bất Động sản</a></li>
              <li><a th:href="@{/property-details}">Nhà Nghỉ</a></li>
              <li><a th:href="@{/contact}">Liên hệ</a></li>
              <li><a th:href="@{#}"><i class="fa fa-calendar"></i>Đặt Phòng</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
<!-- END -->