<div th:fragment="header" xmlns:sec="http://www.w3.org/1999/xhtml">
  <div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="info">
            <li><i class="fa fa-envelope"></i> info@ut.edu.vn</li>
            <li><i class="fa fa-map"></i>Hoàng Sa, Trường Sa là của Việt Nam</li>
          </ul>
        </div>
        <div class="col-lg-4 col-md-4">
          <ul class="social-links">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6 text-right">
          <!-- Luôn luôn hiển thị 3 phần sau để JS xử lý -->
          <div class="auth-links">
            <!-- Chưa login -->
            <!-- Hiển thị khi chưa đăng nhập -->
            <div sec:authorize="isAnonymous()">
              <button onclick="window.location.href='/login'">Đăng nhập</button>
              <button onclick="window.location.href='/register'">Đăng ký</button>
            </div>

            <!-- Hiển thị khi đã đăng nhập -->
            <div sec:authorize="isAuthenticated()">
              <span>Xin chào, <b th:text="${#authentication.name}">Tên người dùng</b></span>
              <form th:action="@{/logout}" method="post">
                <button type="submit">Đăng xuất</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Header lớn -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <a th:href="@{/master}" class="logo">
              <h1>Homestay</h1>
            </a>
            <ul class="nav">
              <li><a th:href="@{#}" class="active">Trang chủ</a></li>
              <li><a th:href="@{/properties}">Bất Động sản</a></li>
              <li><a th:href="@{/property-details}">Nhà Nghỉ</a></li>
              <li><a th:href="@{/contact}">Liên hệ</a></li>

              <!-- Luôn luôn hiển thị, để JS xử lý logic -->
              <li class="nav-booking-guest">
                <a th:href="@{/login}" onclick="alert('Bạn cần đăng nhập để đặt phòng!')">
                  <i class="fa fa-calendar"></i>Đặt Phòng
                </a>
              </li>
              <li class="nav-booking-user" style="display:none;">
                <a th:href="@{/booking}">
                  <i class="fa fa-calendar"></i>Đặt Phòng
                </a>
              </li>
            </ul>
            <a class='menu-trigger'><span>Menu</span></a>
          </nav>
        </div>
      </div>
    </div>
  </header>
</div>
