<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<!--START CSS-->
<head>
    <div th:replace="master-user/css::css"></div>
</head>
<!--END CSS-->

<body>
<!-- ***** Preloader Start ***** -->
<div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
        <span class="dot"></span>
        <div class="dots">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</div>
<!-- ***** Preloader End ***** -->


<!-- START Header-->
<div th:replace="master-user/header::header"></div>
<!-- END Header -->

<!-- Banner -->
<div th:replace="master-user/banner::banner"></div>
<!-- END -->

<!--START content-->
<div th:replace="master-user/content::content"></div>
<!-- END -->

<!-- Footer -->
<div th:replace="master-user/footer::footer"></div>
<!-- END -->

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<!-- JS Files -->
<script th:src="@{/static-user/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/static-user/vendor/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/static-user/assets/js/isotope.min.js}"></script>
<script th:src="@{/static-user/assets/js/owl-carousel.js}"></script>
<script th:src="@{/static-user/assets/js/counter.js}"></script>
<script th:src="@{/static-user/assets/js/custom.js}"></script>

</body>
</html>