<nav th:fragment="navbar" class="navbar navbar-expand-lg bg-dark navbar-dark p-3 p-lg-0">
    <a href="index.html" class="navbar-brand d-block d-lg-none">
        <h1 class="m-0 text-primary text-uppercase">Hotelier</h1>
    </a>
    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav mr-auto py-0">
            <a href="index.html" class="nav-item nav-link active">Home</a>
            <a href="about.html" class="nav-item nav-link">Revenue Report</a>
            <a href="service.html" class="nav-item nav-link">Services Fee</a>
            <a href="room.html" class="nav-item nav-link">Account Supervision</a>
            <a href="room.html" class="nav-item nav-link">Add Room</a>
            <a href="room.html" class="nav-item nav-link">Delete Room</a>
        </div>
        <a href="https://htmlcodex.com/hotel-html-template-pro" class="btn btn-primary rounded-0 py-4 px-md-5 d-none d-lg-block">Premium Version<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>